annotated-types
anyio
APScheduler
brotli
certifi
charset-normalizer
click
coverage
exceptiongroup
fastapi
h11
httpcore
httpx
idna
iniconfig
mutagen
packaging
pluggy
pycryptodomex
pydantic
pydantic_core
pytest
pytest-asyncio
pytest-cov
python-multipart
pytz
requests
six
sniffio
starlette
tomli
typing_extensions
tzlocal
urllib3
uvicorn
websockets
yt-dlp==2025.10.14.232845.dev0

